{% extends 'questionnaire/base.html' %}
{% load i18n %}
{% load static %}

{% block style %}
body {
    height: 100%;
    background: url({% get_media_prefix %}{{ response.survey.bg_image.image }}) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
       }
{% endblock %}

{% block title %}{% trans "Survey submitted" %}{% endblock title %}

{% block body %}
<h1>{% if response.survey.global_text %}{{ response.survey.global_text.survey_submitted }}{% else %}{% trans "Survey submitted"%}{% endif %}</h1>
<p>
    <div class="alert alert-success">
       {% if response.survey.global_text %}{{ response.survey.global_text.answers_have_been_saved }}{% else %}{% trans "Thanks! Your answers have been saved" %}{% endif %}
    </div>
    {% if response.survey.editable_answers %}
        <div class="alert alert-info">
           {% if response.survey.global_text %}{{ response.survey.global_text.you_can_change_answers }}{% else %}{% trans "You can always come back and change them." %}{% endif %}
        </div>
    {% endif %}
</p>
{% if response.survey.editable_answers%}
<a href="{% url 'questionnaire:survey-detail' slug=response.survey.slug %}"><input type="button" class="btn btn-default btn-lg" style="opacity: 0.8;" value="{% if response.survey.global_text %}{{ response.survey.global_text.button_start_over }}{% else %}Start over{% endif %}"></a>
{% endif %}
{% endblock %}
