{% extends 'questionnaire/base.html' %}
{% load i18n %}

{% block title %}{% trans "Survey submitted" %}{% endblock title %}

{% block body %}
<h1>{% trans "Survey submitted"%}</h1>
<p>
    <div class="alert alert-success">
       {% trans "Thanks! Your answers have been saved" %}
    </div>
    {% if response.survey.editable_answers %}
        <div class="alert alert-info">
           {% trans "You can always come back and change them." %}
        </div>
    {% endif %}
</p>

<!--<input type=button class="btn btn-default btn-lg" style="opacity: 0.8;" value="Previous page" onClick="javascript:history.go(-1);">-->
<a href="{% url 'questionnaire:survey-detail' slug=response.survey.slug %}"><input type="button" class="btn btn-default btn-lg" style="opacity: 0.8;" value="Start over"></a>
{% endblock %}
